.management__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1600px;
}

label {
    font-size: 18px;
}

.search-form__gender {
    margin-left: 30px;
    width: 70px;
}

.search-form__radio {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.search-form {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    padding: 30px;
    margin-bottom: 10px;
    border: 1px solid #333333;
}

.search-form__item {
    display: flex;
}

.spacer {
    width: 100%;
}

.search-form__date,
.search-form__name,
.search-form__email {
    width: 150px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.search-form__item-input {
    margin-right: 10px;
    padding: 10px;
    width: 250px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.search-form__item-select {
    padding: 10px;
    width: 30%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
    
}

.search-form__button-submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.search-form__button {
    width: 20%;
    margin: auto;
}

.search-form__reset {
    margin: auto;
}

.management-table__id,
.management-table__gender {
    width: 6%;
}
.management-table__email{
    width: 20%;
}
.management-table__name {
    width: 10%;
}
.management-table__content {
    width: 48%;
}
.management-table__delete {
    width: 10%;
}


.management__heading {
    margin-bottom: 40px;
    text-align: center;
}

.management-table {
    margin: 30px auto;
    width: 70%;
    text-align: left;
}

.management-table__inner {
    width: 100%;
}

.management-table__row {
    border-bottom: 1px solid #ddd;
}

.management-table__header {
    padding: 12px;
    width: 20%;
    text-align: left;
    font-weight: bold;
}

.management-table__item:first-of-type {
    padding: 12px;
    width: 90%;
}

.management-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.management-form__item {
    /* width: 20%; */
    /* line-height: 50%; */
    height: 60px;
}

.management-form__item-input {
    font-size: 14px;
    width: 100%;
    outline: none;
    border: none;
}

.management-form__item-p {
    text-align: left;
    font-size: 13px;
    
}

.management-form__button-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #0000ff;
    color: #fff;
    cursor: pointer;
}

.delete-form__button {
    width: 50px;
}

.delete-form__button-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
}

.balloonoya {
    position: relative;
}

.balloonoya:hover .balloon {
    display: inline;
}

.balloon {
    position: absolute;
    display: none;
    padding: 2px;
    background-color: #fff;
    width: 300px;
    left: 430px;
    bottom: -100px;
    margin-bottom: 12px;
    font-size: 80%;
}

.balloon:after {
    border-top: 12px solid #ffffff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -12px;
    left: 5%;
    content: "";
    position: absolute;
}

  svg.w-5.h-5 {
      /*paginateメソッドの矢印の大きさ調整のために追加*/
      width: 30px;
      height: 30px;
  }
